.scroll {
  background-color: orange;
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

.noScroll {
  background-color: red;
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 200px;
  height: auto;
  margin-top: 1em;
}

button {
  margin-top: 1em;
}
