body {
  font-family: sans-serif;
  background-color: silver;
  margin: 0;
  padding: 0;
}

.scroll {
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

img {
  max-width: 200px;
  height: auto;
  margin-top: 1em;
}

button {
  margin-top: 1em;
}
